<!--
<button (click)="toggleComponent()">Toggle Component</button>
<br />
{{ value }}
<br />
<button (click)="add()">Add one</button>
<button (click)="remove()">Remove one</button>
<app-title title="Page" *ngIf="button"></app-title>
<app-data-biding></app-data-biding>
<router-outlet></router-outlet>
<app-diretivas-estruturais></app-diretivas-estruturais>
<app-diretivas-atributos>
  <h1>Aulas de diretivas atributo</h1>
  <hr />
</app-diretivas-atributos>
-->
<!--
<app-diretivas-atributos></app-diretivas-atributos>
<app-new-component></app-new-component>
<app-input [contador]="addValue"></app-input>
<button (click)="add()">Add</button>
<app-output (enviarDados)="setDados($event)"></app-output>

<ng-template [ngIf]="getDados">
  <h1>{{ getDados.nome }}</h1>
  <h2>{{ getDados.idade }}</h2>
</ng-template>
-->

<app-food-list></app-food-list>
